{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {"modules": false, "targets": {"node": "current"}}]
  ],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    "lodash",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
  ]
}
